
--extra-index-url https://pypi.fury.io/ngjmB-ALDj0b7dH8vBo71WnLEU4SlVxw8/wpengine/
ansible-core==2.12.1
ansible-lint
ansible-runner
boto3
certifi
cffi
charset-normalizer
configparser
cryptography
deepdiff
docker
flake8
future
google
google-cloud-bigquery
google.cloud
hvac
idna
ipaddr
Jinja2
MarkupSafe
mock
molecule
moto
netaddr
packaging
parameterized
pip-tools
prettytable
psutil
pymongo
pyparsing==3.0.1
pytest
PyYAML
requests
resolvelib
rollbar
scandir
six
tenacity
urllib3
wpepy
